.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: teal;
}
